<div id="body">

	<header class="sign_up">
			<img src="https://images.mint.com/web-client/images/mint_logo.png">
			<ul id="sign_in">
				<li class="login">Log in</li>
				<li class="login"><strong>Sign up</strong></li>
			</ul>
		</header>
<section class="sign_up">

	<article class="sign_up">
			<h2>Sign up now!</h2>
			<br>
			<%= render 'shared/error_messages' %>
			<%= render 'user_reg_form' %>
		<br>
	</article>
	<aside class="sign_up"><div id="aside">
		<h4 id="aside-header">Why you'll love it</h4>
		<ul id="asd">
    		<li class="reasons">This is simple</li>
    		<li class="reasons">And beauty</li>
   			<li class="reasons">First app</li>
    		<li class="reasons">Stay safe and secure</li>
    	</ul>
	</div></aside>
</section>
</div>