<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <center><div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost...", class: "wide" %>
  </div>
  <div class="sym wide" style="text-align: center;">Осталось 140 символов</div>
  <%= f.submit "Post", class: "btn btn-large btn-primary wide" %></center>
<% end %>