* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "AvenirNext-Regular-Mint", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

header.sign_up {
	margin-top: 20px;
}

ul#sign_in, li.login {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 5px;
	float: right;
}

#login {
	border-left: 1px solid #ccc;
}

section.sign_up {
	width: 800px;
	clear: both;
	margin: auto;
	padding: 50px;
	padding-right: 25px;
	border: 1px solid #ccc;
	margin: 10px auto;
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
}

article.sign_up {
	float: left;
	display: inline-block;
	width: 70%;
}

h2 {
	font-size: 30px;
	font-weight: 300;
}

aside.sign_up {
	display: inline-block;
	width: 30%;
	float: right;
	border-left: 1px solid #ccc;
	height: 570px;
}

#aside {
	display: inline-block;
	margin: 10px, 0;
	margin-left: 25px;
	padding: 20px;
	color: #9a9a9c;
	clear: both;
	background-color: #f5f5f7;
	height: 100%;
}

ul#asd {
	margin: 20px;
	font-size: 8pt;
}

h4#aside-header {
	font-size: 20px;
	font-weight: 300;
}

input.text {
	width: 63%;
	height: 33px;
	border-radius: 0;
	border: 1px solid #cdcdcd;
	padding: 0 7px;
	margin-bottom: 2em;
}

label {
	display: block;
	margin: 10px 0;
	font-size: 15px;
	font-weight: 200;
	color: #555;
}

input.checkbox {
	width: 20px;
	height: 20px;
	border-radius: 0;
	border: 1px solid #cdcdcd;
}

label#check {
	margin-left: 10px;
}

.button {
	display: block;
	border-radius: 0;
	margin: 20px 0;
	padding: 10px 20px;
	background-color: #3cf;
	color: white;
	width: 25%;
	font-size: 15px;
	font-weight: 200;
	border: none;
}

.button-sign-up {
	display: inline-block;
	background-color: #333;
}

.button, .button-sign-up {
	transition-duration: 0.125s;
	transition-property: background-color;
	transition-timing-function: linear;
}

.button:hover, .button-sign-up:hover {
	color: #fff;
	text-decoration: none;
	background-color: #999;
}

.center {
	width: 100%;
	margin: auto;
}

ul#foot, li.footer {
	display: inline-block;
	padding: 0 10px;
	margin: 0 5px;
	clear: both;
	margin: 25px 0;
}

li.footer {
	padding: 0 30px;
	border-left: 1px solid #ccc;
	font-size: 13px;
	font-weight: 300;
	color: #aaa
}

li.footer:first-child {
	border: none;
}

li.footer:hover, li.login:hover {
	text-decoration: underline;
	cursor: pointer;
}

.alert-error {
	background-color: #fcc;
	border: 1px solid red;
	width: 66%;
	margin: auto;
	padding: 10px;
	text-align: center;
}