// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.delete_user {
	color: red;
	float: right;
	&:hover {
		text-decoration: none;
		color: red;
		text-shadow: 1px 1px 1px #ccc;
	}
}

